.mixin.out/
*.jar
*.log
.forge-installed-*
crash-reports/
banned-ips.json
banned-players.json
eula.txt
libraries/
logs/
mods/
ops.json
pixelc.dat
pixelmap/
usercache.json
usernamecache.json
whitelist.json
