.mixin.out/
*.jar
*.log
.forge-installed-1.12.2-14.23.5.2854
.forge-installed-1.12.2-14.23.5.2859
banned-ips.json
banned-players.json
eula.txt
libraries/
logs/
mods/
ops.json
pixelc.dat
pixelmap/
usercache.json
usernamecache.json
whitelist.json
