.forge-installed-1.12.2-14.23.5.2854
banned-ips.json
banned-players.json
eula.txt
forge-1.12.2-14.23.5.2854-installer.jar.log
forge-1.12.2-14.23.5.2854.jar
libraries/
logs/
minecraft_server.1.12.2.jar
mods/
ops.json
pixelc.dat
pixelmap/
usercache.json
usernamecache.json
whitelist.json